<div class="central-wrapper">
    <h1 class="mat-display-1">Films to watch</h1>

    <mat-accordion>
        <mat-expansion-panel
            class="movie-to-watch-wrapper"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            *ngFor="let filmToWatch of filmsToWatch$ | async"
        >
            <mat-expansion-panel-header>
                <div class="title-description-wrapper">
                    <mat-panel-title>
                        {{ filmToWatch.joinedMovieData.title }}
                    </mat-panel-title>
                    <mat-panel-description *ngIf="filmToWatch.joinedMovieData.releaseDate; else noReleaseDate">
                        {{ filmToWatch.joinedMovieData.releaseDate | date: "yyyy" }}
                    </mat-panel-description>
                    <ng-template #noReleaseDate>
                        <mat-panel-description> -- -- -- </mat-panel-description>
                    </ng-template>
                </div>
            </mat-expansion-panel-header>
            <p>{{ filmToWatch.joinedMovieData.overview }}</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
