.app-headline {
    text-align: center;
}

.no-movies-found {
    text-align: center;
    font-size: 18px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.load-more {
    display: block;
    margin: 0 auto 40px;

    background-color: #3f51b5;
    color: #ffffff;
}

.progress-bar {
    max-width: 150px;
    margin: 0 auto 40px;
}

.invisible {
    display: none;
}
