<h1 class="mat-display-1 app-headline">Films App</h1>

<app-search-input (add)="fetchMovies($event)"></app-search-input>

<ng-container *ngIf="resultMovies$ | async as moviesInfo">
  <ng-container *ngIf="moviesInfo.length && !isMovieListHidden && !isString(moviesInfo[0]); else noMoviesFound">
    <app-movie-list [moviesInfo]="moviesInfo" class="cards-wrapper"></app-movie-list>
    <button
      mat-raised-button
      type="button"
      class="load-more"
      *ngIf="!isLoading"
      (click)="getNextPage()"
      [class.invisible]="isLastPage"
    >
      Load more
    </button>
  </ng-container>

  <ng-template #noMoviesFound>
    <p class="no-movies-found mat-body-2" *ngIf="!isLoading">
      {{ moviesInfo[0] }}
    </p>
  </ng-template>
</ng-container>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate" class="progress-bar"></mat-progress-bar>
