<h1 class="mat-display-1 app-headline">Films App</h1>

<app-search-input (add)="fetchMovies($event)"></app-search-input>

<p class="loading-item mat-body-2" *ngIf="noInputProvided">Enter something for search.</p>

<ng-container *ngIf="resultMovies$ | async as moviesInfo">
  <ng-container *ngIf="moviesInfo.length; else noMoviesFound">
    <app-movie-list [moviesInfo]="moviesInfo" class="cards-wrapper"></app-movie-list>
  </ng-container>

  <ng-template #noMoviesFound>
    <p class="loading-item mat-body-2">
      There are no movies that matched your query.
    </p>
  </ng-template>
</ng-container>

<ng-container *ngIf="isLoading">
  <p class="loading-item mat-body-2">
    Loading ...
  </p>
</ng-container>

<button type="button" class="load-more" *ngIf="resultMovies$ | async" (click)="getNextPage()">Load more</button>
