.app-headline {
  text-align: center;
}

.films-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.films-list .film-item {
  height: 30px;
  max-width: 30rem;
}

.film-item:nth-child(odd) {
  background-color: #cccccc;
}

.loading-item {
  text-align: center;
  font-size: 18px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card-wrapper:empty {
  display: none;
}

.movie-card-wrapper {
  margin-bottom: 20px;
}

.movie-card {
  box-sizing: border-box;
  min-height: 100%;

  min-width: 600px;
  margin-bottom: 20px;
  padding: 10px;

  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.movie-card .movie-title {
  margin: 50px 0 0;
}

.movie-card .movie-poster,
.movie-card .actor-avatar {
  max-width: 200px;
  border-radius: 3px;
}

.movie-card .movie-overview {
  max-width: 20rem;
  text-overflow: ellipsis;
}

.movie-card .actor-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
}

.movie-card .actor-avatar {
  max-width: 100px;
}

.movie-card .actor-name {
  text-align: center;
  max-width: 7rem;
}
