.movie-card-wrapper:empty {
    display: none;
}

.movie-card {
    box-sizing: border-box;
    min-height: 100%;

    min-width: 60rem;
    padding: 1rem;

    background-color: #eeeeee;
    border: 0.1rem solid #cccccc;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);

    .movie-title {
        margin: 5rem 2rem 0;
        text-align: center;
    }

    .movie-poster,
    .actor-avatar {
        max-width: 20rem;
        border-radius: 0.3rem;
    }

    .movie-overview {
        display: -webkit-box;
        max-width: 30rem;
        margin: 0 auto;
        -webkit-line-clamp: 12;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .actor-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: flex-start;
    }

    .actor-avatar {
        max-width: 10rem;
    }

    .actor-name {
        text-align: center;
        max-width: 7rem;
    }
}
