<form (submit)="addSearchInput()" class="example-form search-form">
    <mat-form-field class="example-full-width search-input">
        <input
            matInput
            type="text"
            name="search-field"
            class="search-input-elem"
            placeholder="Type something for search..."
            [(ngModel)]="searchInput"
        />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" name="search-submit" class="search-submit">Search</button>
</form>
